.catalog__title {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  background-color: #f1f1f1;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__wrapper-title-price {
  border: 1px solid #ededed;
}

.catalog__link {
  color: rgba(0, 0, 0, 1);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__title-item {
  margin: 0;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__description {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(0, 0, 0, 1);
}

.catalog__price {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.catalog__image {
  margin: 0;
}
