.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  padding-top: 6px;
  padding-right: 29px;
}

.copyright__link {
  display: flex;
  margin-top: 21px;
  justify-content: center;
}

.copyright__link .copyright__logo-htmlacademy {
  align-self: flex-start;
  fill: #63d1bb;
}

.copyright__link:hover .copyright__logo-htmlacademy {
  fill: #46c1ae;
}

.copyright__link:active .copyright__text {
  color: rgba(#000000, 0.3);
}

.copyright__link:active .copyright__logo-htmlacademy {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .copyright__link {
    margin-top: 12px;
  }
}
