.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.copyright__link:active .copyright__text {
  color: rgba(#000000, 0.6);
}

.copyright__link:active img {
  opacity: 0.6;
}
