.features__title {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.features__item-link {
  color: rgba(255, 255, 255, 1);
}

.features__item {
  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.features__item:active .features__item-link {
  opacity: 0.3;
}
