.features {
  background-color: #f9f9f9;
}

.features__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  width: 260px;
  align-self: center;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 122px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.features__item-link {
  color: #ffffff;
  display: flex;
  padding: 27px 0 28px 29px;
  position: relative;
}

.features__item:hover .features__item-link {
  padding: 22px 0 33px 29px;
}

.features__item--interior .features__item-link {
  background-color: #63d1bb;
}

.features__item--toys .features__item-link {
  background-color: #56c3b2;
}

.features__item--interior .features__item-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #63d1bb;
  top: -5px;
  left: 0;
}

.features__item--toys .features__item-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #56c3b2;
  top: -5px;
  left: 0;
}

.features__item--interior .features__icon-interior {
  position: absolute;
  content: "";
  width: 40px;
  height: 62px;
  top: 24px;
  right: 36px;
  fill: #3bb09d;
}

.features__item--toys .features__icon-toy {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 19px;
  right: 27px;
  fill: #35a999;
}

.features__item--interior:hover .features__icon-interior {
  top: 19px;
}

.features__item--toys:hover .features__icon-toy {
  top: 14px;
}

.features__item:active .features__item-link {
  color: #8be2d0;
}

.features__item:hover .features__icon-toy,
.features__item:hover .features__icon-interior {
  fill: #29a592;
}

.features__item:active .features__icon-toy,
.features__item:active .features__icon-interior {
  opacity: 0.3;
}

.features__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px 373px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .features__title br {
    display: none;
  }
}

@media (min-width: 768px) {
  .features {
    position: relative;
  }

  .features::after {
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 bottom;
    width: 100%;
    height: 25px;
    bottom: -13px;
    left: 0;
    background-size: contain;
  }

  .features__wrapper {
    width: 87%;
    margin: 0 auto;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: bottom center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .features__list {
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .features__item {
    width: 314px;
    flex-grow: 1;
  }

  .features__title {
    width: 520px;
    font-size: 43px;
    line-height: 50px;
    padding-top: 93px;
    padding-bottom: 374px;
  }

  .features__item-link {
    padding: 27px 0 28px 36px;
  }

  .features__item--interior .features__item-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #63d1bb;
    top: -5px;
    left: 0;
  }

  .features__item--toys .features__item-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #56c3b2;
    top: -5px;
    left: 0;
  }

  .features__item:hover .features__item-link {
    padding: 22px 0 32px 36px;
  }

  .features__item--interior:hover .features__icon-interior {
    top: 24px;
  }

  .features__item--toys:hover .features__icon-toy {
    top: 26px;
  }

  .features__item--interior .features__icon-interior {
    top: 29px;
    right: 36px;
  }

  .features__item--toys .features__icon-toy {
    top: 31px;
    right: 34px;
  }
}
/* .features__item--interior .features__item-link {
    background-color: #63d1bb;

    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: bottom;
    will-change: transform;
  } */
@media (min-width: 1150px) {
  .features__wrapper {
    width: 1050px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px 746px;
    }
  }

  .features__item {
    width: 525px;
  }

  .features__title {
    width: 650px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 107px;
    padding-bottom: 359px;
  }

  .features::after {
    width: 100%;
    height: 40px;
    bottom: -20px;
    left: 0;
    background-position: 10px bottom;
    background-size: 1250px 35px;
  }
}
