.features {
  background-color: #f9f9f9;
}

.features__title {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  width: 260px;
  align-self: center;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 122px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.features__item-link {
  color: #ffffff;
  display: flex;
  padding: 27px 0 28px 29px;
  position: relative;
}

.features__item--interior .features__item-link {
  background-color: #63d1bb;
}

.features__item--toys .features__item-link {
  background-color: #56c3b2;
}

.features__item--interior svg {
  position: absolute;
  content: "";
  width: 40px;
  height: 62px;
  top: 24px;
  right: 36px;

  path {
    fill: #3bb09d;
  }
}

.features__item--toys svg {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 19px;
  right: 27px;

  path {
    fill: #35a999;
  }
}

.features__item:active .features__item-link {
  color: #8be2d0;
}

.features__item:active svg {
  opacity: 0.3;
}

.features__wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

@media (min-width: 768px) {
  .features {
    position: relative;
  }

  .features::after {
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 0 bottom;
    width: 100%;
    height: 35px;
    bottom: -18px;
    left: 0;
  }


  .features__wrapper {
    width: 87%;
    margin: 0 auto;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: bottom center;
  }

  .features__list {
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .features__item {
    width: 314px;
    flex-grow: 1;
  }

  .features__title {
    width: 520px;
    font-size: 43px;
    line-height: 50px;
    padding-top: 93px;
    padding-bottom: 374px;
  }

  .features__item-link {
    padding: 27px 0 28px 36px;
  }

  .features__item--interior .features__item-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #63d1bb;
    top: -5px;
    left: 0;
  }

  .features__item--toys .features__item-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #56c3b2;
    top: -5px;
    left: 0;
  }

  .features__item--interior svg {
    top: 29px;
    right: 36px;
  }

  .features__item--toys svg {
    top: 31px;
    right: 34px;
  }
}
/* .features__item--interior .features__item-link {
    background-color: #63d1bb;

    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: bottom;
    will-change: transform;
  } */
@media (min-width: 1150px) {
  .features__wrapper {
    width: 1050px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .features__item {
    width: 525px;
  }

  .features__title {
    width: 650px;
    font-size: 53px;
    line-height: 57px;
    padding-top: 107px;
    padding-bottom: 359px;
  }
}
