.filters__field {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  margin-bottom: 20px;
}

.filters__field::before {
  position: absolute;
  height: 1px;
  width: 76%;
  top: 14px;
  right: 0;
  content: "";
  background-color: #63d1bb;
}

.filters__option--area {
  padding-left: 62px;
}

.filters__characteristic-title {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.filters__value {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  display: flex;
  padding: 28px 0 15px 0;
}

.filters__field--type {
  padding-top: 12px;
  margin-bottom: 20px;
}

.filters__field--type .filters__value {
  padding: 12px 0 16px 0;
}

.filters__field--fio .filters__value {
  padding: 20px 0 14px 0;
}

.filters__field--fio {
  margin-bottom: 25px;
}

.filters__field--phone,
.filters__field--email {
  margin-bottom: 29px;
  padding-top: 9px;
}

.filters__field--extra {
  padding-top: 16px;
  margin-bottom: 8px;
}

.filters__field--extra .filters__input--area {
  padding: 13px 13px 13px 13px;
}

.filters__description {
  margin: 0;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.filters__input {
  outline: none;
  border: none;
  border-bottom: 2px solid black;

  &::placeholder {
    color: #444444;
    font-size: 17px;
    line-height: 18px;
  }

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &--area {
    border: 2px solid black;
    width: 250px;
    min-height: 140px;
  }

  &--area:hover {
    border: 2px solid #62d1ba;
  }

  &--area:focus {
    border: 2px solid #62d1ba;
  }
}

.filters__input--text,
.filters__input--phone,
.filters__input--email,
.filters__input--area {
  width: 100%;
  padding: 0 0 14px 0;
  box-sizing: border-box;
}

.filters__list {
  display: flex;
  flex-direction: column;
}

.filters__value--fio {
  display: flex;
}

.filters__button {
  width: 100%;
  padding: 14px 0 14px 0;
  margin-bottom: 56px;
}

@media (min-width: 768px) {
  .filters__value {
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
  }

  .filters__field {
    padding-left: 167px;
    position: relative;
  }

  .filters__characteristic {
    position: absolute;
    top: 0;
    left: 0;
  }

  .filters__list--colors {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filters__option--fio {
    display: flex;
  }

  .filters__input--area {
    width: 100%;
  }

  .filters__bottom {
    display: flex;
  }

  .filters__button {
    width: 230px;
    order: -1;
    margin-right: auto;
  }

  .filters__description {
    font-size: 17px;
    line-height: 30px;
  }

  .filters__field--background {
    background-color: #f1f1f1;
  }

  .filters__input--phone,
  .filters__input--email {
    background-color: #f1f1f1;
  }
}

@media (min-width: 1150px) {
  .filters__field {
    padding-left: 175px;
    padding-right: 175px;
  }

  .filters__button {
    margin-right: auto;
    margin-left: 175px;
  }

  .filters__description {
    margin-right: 175px;
  }
}
