.main-nav {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 6%;
  z-index: 2;
  width: 45px;
  height: 45px;
  display: flex;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 21px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    top: 21px;
    right: 8px;
    background-color: #000000;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    top: 21px;
    right: 8px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.main-nav__list a {
  display: flex;
  padding: 27px 30px 27px 23%;
  border-bottom: 1px solid #ececec;
}

.main-nav__delivery {
  display: none;
}

.main-nav__logo {
  height: 35px;
  margin-top: 22px;
  margin-bottom: 22px;
  align-self: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__logo-picture {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .user-list__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 87%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    display: flex;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    order: 3;
    padding-top: 18px;
    width: 34.5%;
    justify-content: flex-end;
  }

  .main-nav__list a {
    border: none;
  }

  .main-nav__logo-picture {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    justify-content: flex-start;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__logo {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 46px;
    align-self: flex-start;
    margin-top: 22px;
    width: 45%;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__logo {
    height: 72px;
    margin-top: 9px;
    width: auto;
  }

  .main-nav__logo-picture {
    width: auto;
    padding-left: 4px;
  }
}
