.modal-size__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-size__description {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
}

.modal-size__list {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-size__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63d1bb;
  cursor: pointer;
  display: flex;
  border: none;
}
