.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: auto;
  margin: 0 auto;
  padding-bottom: 24px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 87%;
    display: flex;
    padding-top: 45px;
    padding-bottom: 43px;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    align-self: center;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 91%;
  }
}
