.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .page-header {
    background: linear-gradient(to bottom, transparent 88px, #e7e7e7 88px, transparent 89px, #f9f9f9 89px);
  }

  .page-header--catalog {
    background: linear-gradient(to bottom, transparent 88px, #e7e7e7 88px, transparent 89px, #f1f1f1 89px);
  }

  .page-header--form {
    background: linear-gradient(to bottom, transparent 88px, #e7e7e7 88px, transparent 89px, #f1f1f1 89px);
  }
}
