.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.production__picture {
  margin: 0;
}

.production__play {
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  width: 101px;
  height: 77px;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}
