.production__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding: 26px 10px 23px 90px;
  position: relative;
  border: 1px solid #ededed;
  border-bottom: none;
}

.production__title::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 34px;
  width: 32px;
  height: 27px;
  background: url("../img/icon-video.svg") no-repeat 0 0;
}

.production__picture {
  margin: 0;
  position: relative;
  display: flex;
}

.production__play {
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  width: 101px;
  height: 77px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -39px;
  margin-left: -50.5px;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__right {
  border: 1px solid #ededed;
}

.production__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 auto;
  padding: 26px 35px 25px 33px;
}

.production__wrapper {
  width: 81%;
  margin: 0 auto;
  padding-bottom: 58px;
}

.production__button {
  width: 192px;
  margin: 0 auto;
  padding: 14px 0 14px 0;
  margin-bottom: 32px;
}

.production__video {
  width: 100%;
  height: 100%;
}

.production__picture picture {
  display: flex;
  width: 100%;
  height: 100%;
}

@media (min-width: 378px) and (max-width: 767px) {
  .production__title::before {
    top: 20px;
    left: 34px;
  }
}

@media (min-width: 768px) {
  .production__wrapper {
    width: 87%;
    display: flex;
    flex-direction: column;
    padding-bottom: 62px;
  }

  .production__picture {
    order: -1;
  }

  .production__title {
    font-size: 20px;
    line-height: 24px;
    padding: 37px 10px 23px 105px;
  }

  .production__title::before {
    left: 41px;
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    padding: 7px 39px 36px 39px;
  }

  .production__button {
    width: auto;
    margin-bottom: 46px;
    margin-left: 6%;
    margin-right: 6%;
  }

  .production__video {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1150px) {
  .production__wrapper {
    width: 1050px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 107px;
  }

  .production__description {
    width: 230px;
    padding: 7px 22px 36px 39px;
    margin-bottom: 11px;
  }

  .production__button {
    width: 230px;
    margin: 0 0 0 77px;
  }

  .production__right {
    flex-grow: 1;
    border: 1px solid #ededed;
    padding-top: 170px;
  }

  .production__title {
    position: absolute;
    top: 98px;
    right: 140px;
    border: none;
    width: 150px;
    padding: 0;
  }

  .production__video {
    width: 682px;
    height: 455px;
  }

  .production__title::before {
    left: 2px;
    top: -54px;
  }
}
